@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
  #benefits {
    padding: 5rem 1rem 5rem;
  }

  .benefits-container {
    flex-direction: column;
  }

  .benefits-text-container {
    margin-top: 3rem;
    width: 80%;
  }
}

@media (min-width: 1013px) {
  #hero {
    height: 100vh;
  }
}

@media (max-width: 1012px) {
  .hero-text {
    text-align: center;
    justify-content: center;
  }

  .hero-text-container {
    padding: 10rem 0 2rem;
    width: 70%;
    text-align: center;
  }

  .media-area .section-heading {
    width: 90%;
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .hero-photo {
    width: 25rem;
    overflow: hidden;
  }

  .hero-btn-container {
    gap: 1rem;
    justify-content: center;
  }

  .hero-button {
    padding: .8rem
  }

  .hero-button2 {
    padding: .8rem;
  }

  .about-container {
    flex-direction: column;
  }

  .about-text {
    width: 90%;
  }

  .about-text h2 {
    text-align: center;
  }
}

@media (min-width: 870px) {
  .menu-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}

@media (max-width: 870px) {
  .desktop-menu {
    display: none;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 600px) {
  .logos:before,
  .logos:after {
    width: 100px;
  }
}

@media (max-width: 480px) {
  nav ul {
    display: none;
  }

  .hero-text-container {
    width: 90%;
    padding: 8rem 0 2rem;
  }

  .hero-btn-container {
    flex-direction: column;
  }

  .media-area .section-heading {
    padding: 6rem 0 3rem;
    color: var(--main-light-color);
    width: 90%;
    text-align: center;
    font-size: 1.5rem;
  }

  .benefits-text {
    width: 100%;
  }

  .gustavo-consulting {
    width: 20rem;
  }
}

@media (max-width: 320px) {
  .gustavo-consulting {
    width: 15rem;
  }
}