@media (max-width: 1024px) {
  #benefits {
    padding: 5rem 1rem 5rem;
  }

  .benefits-container {
    flex-direction: column;
  }

  .benefits-text-container {
    margin-top: 3rem;
    width: 80%;
  }
}

@media (min-width: 1013px) {
  #hero {
    height: 100vh;
  }
}

@media (max-width: 1012px) {
  .hero-text {
    text-align: center;
    justify-content: center;
  }

  .hero-text-container {
    padding: 10rem 0 2rem;
    width: 70%;
    text-align: center;
  }

  .media-area .section-heading {
    width: 90%;
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .hero-photo {
    width: 25rem;
    overflow: hidden;
  }

  .hero-btn-container {
    gap: 1rem;
    justify-content: center;
  }

  .hero-button {
    padding: .8rem
  }

  .hero-button2 {
    padding: .8rem;
  }

  .about-container {
    flex-direction: column;
  }

  .about-text {
    width: 90%;
  }

  .about-text h2 {
    text-align: center;
  }
}

@media (max-width: 880px) {
  .form {
    width: 50%;
  }

  #media {
    padding-bottom: 3rem;
  }
}

@media (min-width: 870px) {
  .menu-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}

@media (max-width: 870px) {
  .desktop-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }

  .credits {
    text-align: center;
    flex-direction: column;
    gap: 1rem;
  }

  #researches {
    padding: 2rem 0 5rem;
  }

  .researches-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .researches-text {
    width: 80%;
  }

  .researches-text-p {
    margin: -2rem 0 2rem;
  }
}

@media (max-width: 600px) {

  .logos:before,
  .logos:after {
    width: 100px;
  }

  .form {
    width: 70%;
  }
}

@media (max-width: 480px) {
  nav ul {
    display: none;
  }

  .dropdown{
    display: inline-block;
  }

  .hero-text-container {
    width: 90%;
    padding: 8rem 0 2rem;
  }

  .hero-btn-container {
    flex-direction: column;
  }

  .media-area .section-heading {
    padding: 6rem 0 3rem;
    color: var(--main-light-color);
    width: 90%;
    text-align: center;
    font-size: 1.5rem;
  }

  .benefits-text {
    width: 100%;
  }

  .gustavo-consulting {
    width: 20rem;
  }

  .whatsapp-btn img {
    width: 40px;
  }

  .form {
    width: 90%;
  }

  .footer-area h2 {
    text-align: center;
  }
}


@media (max-width: 320px) {
  .gustavo-consulting {
    width: 15rem;
  }

  .footer-end p {
    padding: 0 1rem;
  }

  .footer-area {
    padding: 2rem 1rem 5rem;
  }

  .footer-text {
    text-align: center;
  }

  .footer-area h2 {
    text-align: center;
  }

  .form {
    width: 100%;
  }
}