@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

:root {
  --main-dark-color: #1d3237;
  --second-dark-color: #2f484f;
  --third-dark-color: #647e7b;
  --main-light-color: #fcefcf;
  --second-light-color: #d7d1af;
  --third-light-color: #c3c4a5;
  --white-color: #f2f5f7;
  --black-color: #161716;
  --dark-shadow: 1px 1px 2px var(--main-dark-color);
  --light-shadow: 0px 1px 1px rgba(22, 23, 22, 0.2);
}

body {
  background-color: var(--main-dark-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sucess-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.sucess-container h1 {
  font-size: 2.5rem;
  color: var(--main-light-color);
  text-shadow: var(--light-shadow);
}

.sucess-container p {
  color: var(--main-light-color);
  font-size: 1.1rem;
}

.sucess-container a {
  padding: .8rem;
  background-color: var(--third-light-color);
  text-decoration: none;
  color: var(--main-dark-color);
  border-radius: 5px;
  transition: .2s ease;
}

.sucess-container a:hover {
  transform: scale(1.070);
}

.sucess-container i {
  padding-left: .3rem;
  font-size: 1.2rem;
}